* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

#header {
  background-color: black;
}

#header .navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

#header .nav-bar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4rem;
  margin: 0px 10px;
}

#main .fuenteParrafo {
  font-style: oblique;
  border-style: groove;
  border-color: black;
  font-size: larger;
  color: black;
  text-align: center;
  padding: 50px;
  margin: 100px;
}

#el-estudio .fuenteParrafo {
  font-style: oblique;
  border-style: double;
  font-size: larger;
  color: white;
  border-color: black;
  text-align: center;
  background-image: url(../imagenes/foto-fondo-parrafo.jpg);
  height: 290px;
}

.form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
}

h2 {
  font-family: 'Black Han Sans', sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.grid-areas-de-practica {
  display: -ms-grid;
  display: grid;
  gap: 60 px;
  padding: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (auto) [3];
  grid-template-rows: repeat(3, auto);
  row-gap: 70px;
}

.grid-areas-de-practica .imagenes-area-de-practica {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 10px;
}

.grid-areas-de-practica .imagenes-area-de-practica img {
  width: 25%;
  height: auto;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 250px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

#footer .estilo-lista {
  list-style: none;
}

#footer .ubicacionMapa {
  background-color: whitesmoke;
  text-align: right;
}

#footer .ubicacionContacto {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  background-color: whitesmoke;
}

#footer .ubicacionRedes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: whitesmoke;
}

#footer .ubicacionRedes ul li {
  font-size: 2.1rem;
  list-style: none;
  background-color: whitesmoke;
  margin: 0px 10px;
}

.footer__copyrigth {
  background-color: whitesmoke;
  text-align: center;
  font-weight: bold;
}

main .grid-areas-de-practica .imagenes-area-de-practica {
  -webkit-transition: all 2s;
  transition: all 2s;
}

main .grid-areas-de-practica .imagenes-area-de-practica:hover {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  #header .header__menu {
    display: none;
  }
  #footer {
    display: inline-block;
    background-color: whitesmoke;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 250px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
  }
}
/*# sourceMappingURL=mis_estilos.css.map */
