@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
#header {
  background-color: $colorPrincipal;
  .navbar-collapse {
    justify-content: end;
  }
  .nav-bar-dark {
    .navbar-nav {
      .nav-link {
        color: #fff;
        font-size: 1.4rem;
        margin: 0px 10px;
      }
    }
  }
}
#main {
  .fuenteParrafo {
    font-style: oblique;
    border-style: groove;
    border-color: $colorPrincipal;
    font-size: larger;
    color: $colorPrincipal;
    text-align: center;
    padding: 50px;
    margin: 100px;
  }
}
#el-estudio {
  .fuenteParrafo {
    font-style: oblique;
    border-style: groove;
    border-color: black;
    font-size: larger;
    color: black;
    text-align: center;
    padding: 50px;
    margin: 100px;
  }
}
.form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
}

#main .titulo-principal {
  font-size: 90px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#main .h2 {
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

#footer {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  height: 250px;
  align-items: center;
  padding: 10px;
  margin: 0px;

  .estilo-lista {
    list-style: none;
  }

  .ubicacionContacto {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: whitesmoke;
  }

  .logo-footer {
    background-color: whitesmoke;
  }

  .ubicacionRedes {
    ul {
      display: flex;
      list-style: none;
      background-color: whitesmoke;
      li {
        font-size: 2.1rem;
        list-style: none;
        background-color: whitesmoke;
        margin: 0px 10px;
      }
    }
  }
}

.footer__copyrigth {
  background-color: whitesmoke;
  text-align: start;
  font-weight: bold;
}

/*main areas de práctica*/

#main_areas_de_practica .container__card {
  max-width: 1200px;
  padding: 50px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main_areas_de_practica .card {
  width: 300px;
  position: relative;
  margin: 20px;
  font-family: monospace;
  transition: all 300ms;
  border-radius: 20px;
}

#main_areas_de_practica .card:hover {
  box-shadow: 1px 1px 20px -10px #20202049;
}

#main_areas_de_practica .card:hover .info__description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
}

#main_areas_de_practica .card:hover .icon {
  margin-top: -110px;
  border-radius: 20px 20px 0px 0px;
}

#main_areas_de_practica .icon {
  width: 100%;
  height: 220px;
  background: #eff3f5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

#main_areas_de_practica .icon img {
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

#main_areas_de_practica .info__description {
  width: 100%;
  height: 220px;
  color: #474747;
  background: #eff3f5;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

#main_areas_de_practica .info__description h3 {
  font-size: 30px;
  margin-top: 10px;
}

#main_areas_de_practica .info__description input {
  margin-top: 20px;
  padding: 10px 40px;
  background: #2196f3;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  transition: box-shadow 300ms;
}

#main_areas_de_practica .info__description input:hover {
  box-shadow: 1px 1px 30px -5px #20202070;
}

#main_areas_de_practica .imagenes-area-de-practica {
  width: 25%;
  height: auto;
}
/*main areas de práctica*/

/*mapa contacto*/

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*FIN - mapa contacto */

.titulos {
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  text-decoration: underline;
}

.titulos-h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  color: white;
  background-color: rgb(122, 12, 12);
  border-style: solid;
}

@media screen and (max-width: 768px) {
  #footer {
    display: inline-block;
    background-color: whitesmoke;
    justify-content: space-between;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  #footer .ubicacionRedes ul li {
    text-align: center;
    margin: auto;
  }

  .footer__copyrigth {
    text-align: center;
  }

  #main .titulo-principal {
    font-size: 50px;
  }

  .logo-footer {
    text-align: center;
  }
}
